@model WishroundProject.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="container">
    <div class="account-box">
        <div class="account-logo">
            <a href="/"><b>Wishround</b> Project</a>
        </div><!-- /.account-logo -->
        <div class="account-box-body">
            <p class="account-box-msg">Для того что бы продолжить нужно ввойти</p>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Используй локальный аккаунт</h4>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Ввойти" class="btn btn-default" />
                    </div>
                </div>
                
            }
            <div class="social-auth-links text-center">
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </div><!-- /.social-auth-links -->
            <p>
                @Html.ActionLink("Зарегистрироватся", "Register") если ты здесь впервые.
            </p>
        </div><!-- /.account-box-body -->
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
