@model WishroundProject.Models.ConfirmWishModel

@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/confirm.css" rel="stylesheet" />
}

<div class="container">
    <div class="account-box">
        <div class="login-logo">
        </div><!-- /.login-logo -->
        <div class="account-box-body">
            <p class="account-box-msg">Your wish is <strong>@Model.Name</strong>.</p>
            @using (Html.BeginForm("Confirm", "Wish", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="form-group">
                    @Html.HiddenFor(m => m.Name, new { @class = "form-control" })

                    @Html.HiddenFor(m => m.URL, new { @class = "form-control" })

                    @Html.HiddenFor(m => m.Code, new { @class = "form-control" })

                    @Html.HiddenFor(m => m.Cost, new { @class = "form-control" })

                    @Html.HiddenFor(m => m.Currency, new { @class = "form-control" })

                    @Html.HiddenFor(m => m.ImageUrl, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="col-xs-12" alt="@Model.Name" src="@Model.ImageUrl" />
                            </div>
                            <div class="col-xs-6">
                                <span>Product code: @Model.Code</span>
                                <br />
                                <span>Cost: @Model.Cost @Model.Currency</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Confirm" class="btn btn-default" />
                    </div>
                </div>
            }

        </div><!-- /.account-box-body -->
    </div>
</div>