@model WishroundProject.Models.WishInfoModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/wish.css" rel="stylesheet" />
}

<input id="wishId" type="hidden" value="@Model.WishId"/>
<script type="text/javascript">
    window.fbAsyncInit = function () {
        FB.init({
            appId: '@WishroundProject.Config.FacebookAppId', status: true, cookie: true, xfbml: true
        });
    };
    (function (d, debug) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id;
        js.async = true; js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);
    }(document,  false));
    function postToFeed(title, desc, url, image) {
        var obj = {
            method: 'share_open_graph',
            action_type: 'og.likes',
            action_properties: JSON.stringify({
                object: url,
                title: title,
                description: desc,
                image: image
            })
        };
        function callback(response) { }
        FB.ui(obj, callback);
    }

    var LiqPay = {
        public_key: '@WishroundProject.Config.LiqPayPublicKey',
        version: 3,
        currency: '@Model.Currency',
        description: "For wish '@Model.Name'",
        server_url: "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))api/order/setstatus",
        sandbox: 1,
        product_url: "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~")+ "wish/"+Model.WishId)"
    }
</script>
<div class="container">
    <div class="page-box">
        <div class="page-logo">
            <h2>Your wish</h2>
        </div>
        <div class="page-box-body">
            <h3 class="page-box-msg">@Model.Name</h3>
            <div class="row">
                <div class="col-xs-5">
                    <img class="col-xs-12" alt="@Model.Name" src="@Model.ImageUrl" />
                </div>
                <div class="col-xs-7">
                    <span>Product code: @Model.Code</span>
                    <br />
                    <span>Cost: @Model.Cost @Model.Currency</span>
                </div>

            </div>
            <div class="row" style="margin-top:15px;">
                <div class="col-xs-6">
                    <button type="button" style="    width: 100%;" class="btn btn-success btn-lg open-AddBookDialog" data-toggle="modal" data-target="#costModal">Скинуться</button>
                    <div class="modal modal-lg fade" id="costModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">@Model.Name</h4>
                                </div>
                                <div class="modal-body">
                                    <img class="please-wait" style="width: 20%; margin: auto; display: block;" src="~/Content/img/please_wait.gif" alt="" />
                                    <form class="form-horizontal" method="POST" id="sendCost" action="https://www.liqpay.com/api/checkout"
                                          accept-charset="utf-8">
                                        <input type="hidden" name="data" value="" />
                                        <input type="hidden" name="signature" value="" />
                                        <input type="hidden" id="orderId" />
                                        <h4>Сколько денег Вы хотели бы вложить</h4>
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon">@Model.Currency</span>
                                                    <input type="number" class="form-control" name="cost" id="amount" value="" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="sendCostBtn" class="btn btn-success">Скинутся</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрить</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal modal-lg fade" id="payStatusModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Проверка статуса платежа</h4>
                                </div>
                                <div class="modal-body">
                                    <img class="please-wait" style="width: 20%; margin: auto; display: block;" src="~/Content/img/please_wait.gif" alt="" />
                                    <h3 id="payStatus" style="color:green"></h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-xs-6">
                    <button type="button" style="width: 100%;" data-image="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Model.ImageUrl)" data-desc="Мое желание" data-title="Хочу @Model.Name" class="btn btn-success btn-lg btnShare">Запостить у Facebook</button>
                </div>
            </div>
        </div>




    </div>
</div>

@section scripts{
    <script src="~/Scripts/wish.js"></script>
}